* {
  box-sizing: border-box;
}
.world {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: repeat(100, 1fr);
}
.dead {
  width: 1em;
  height: 1em;
  border: 1px solid #F1F5DA;
  background-color: #C5D6C6;
  border-radius: 3px;
}

.living {
  width: 1em;
  height: 1em;
  background-color: #CC4774;
  border-radius: 10px;
}
